@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.header{
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.container{ width: 400px;
  background: #fff;
  margin: auto;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.keypad{
  width: 100%;
}

.key{
  color: #2c3e50;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 1em;
  font-size: 2em;
  background: #ecf0f1;
  border: 1.5px solid #EFF3F6;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.key:focus{
  outline:none;
}

.key:hover{
  background: #BDC5C6;
}


.telephoneInput{
  background: #2c3e50;
  text-align: center;
  padding: 0.7em 0;
  color: #ecf0f1;
  font-size: 2em;
  width: 100%;
  border: none;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.telephoneInput:focus{
  outline:none;
}

.telephoneInput:hover{
  background-color: #1F2B38;
}

.messageInput{
  background: #2c3e50;
  text-align: center;
  color: #ecf0f1;
  font-size: 2em;
  width: 100%;
  border: none;
  padding: 0.7em 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.messageInput:hover{
  background-color: #1F2B38;
}

.messageInput::placeholder {
  color: #ecf0f1;
}

.messageInput:focus{
  outline:none;
}

.dateInput{
  background: #2c3e50;
  text-align: center;
  color: #ecf0f1;
  font-size: 2em;
  width: 100%;
  border: none;
  padding: 0.7em 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.dateInput:hover{
  background-color: #1F2B38;
}

.dateInput:focus{
  outline:none;
}

.scheduleCall{
  background: #4cd964;
  text-align: center;
  padding: 0.7em 0;
  color: #ecf0f1;
  font-size: 2em;
  width: 100%;
  border: none;
  box-shadow:none;
  border-radius: 0px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.scheduleCall:focus{
  outline:none;
}

.scheduleCall:hover{
  background-color: #359745;
}
