textarea:hover,  input:hover, textarea:active, input:active, textarea:focus,
button:focus, button:active, button:hover, label:focus, .btn:active,
.btn.active {
    outline:0px !important;
    -webkit-appearance:none;
}

.phoneFirstRow{
  list-style: none;
}

.phoneNumber{width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}
